.container {
  width: 100%;
  min-height: 30vh;
  display: flex;
  background-color:#293C4F;
}

.txt {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.p {
  border-radius: 7px;
  display: flex;
  justify-content: center;
  margin:1em;
  font-size: 1.3em;
  font-family: 'Mukta', sans-serif;
  text-align: justify;
  color: white;

}
