.nosotros {
  background-color: #355978;
  min-height: 100vh;
}

.container {
  display: flex;
  -webkit-box-pack: center;
  place-content: center;
  align-content: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 80px;
  padding: 80px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
  padding: 4em;
  margin: 1em;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 2em;
  width: 18em;
  height: 25em;
  background-color: #293c4f;
  float: left;
}

.info {
  color: #fff;
  text-decoration: none;
}

.img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.linkedin {
  padding-left: 30px;
  font-size: xx-large;
  text-decoration: none;
  height: 43px;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #fff;
}
.linkedin:hover {
  transform: scale(1.1);
}

