.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #293c4f;
  color: #fff;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
  transition: all 0.3s ease 0s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.container:hover {
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.infoContainer {
  width: 100%;
}
table {
  width: 100%;
}
#description {
  max-width: 150px;
  text-align: justify;
  text-align-last: end;
}

.izquierda {
  float: left;
}

.derecha {
  float: right;
}

.btnsContainer {
  margin-top: 3%;
  padding-bottom: 3%;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.btn {
  border-radius: 4px;
  background-color: #783535;
  border-color: transparent;
  color: #fff;
  text-align: center;
  font-size: large;
  transition: all 0.5s ease;
  cursor: pointer;
  /* display: inline-flex; */
  height: 10%;
  line-height: 35px;
  width: 20%;
}
.btn:hover {
  background-color: #a72424;
  color: #1c2531;
}

.btnPlus {
  border-radius: 4px;
  background-color: #355978;
  border-color: transparent;
  color: #fff;
  text-align: center;
  font-size: large;
  transition: all 0.5s ease;
  cursor: pointer;
  height: 10%;
  line-height: 35px;
  width: 20%;
}
.btnPlus:hover {
  background-color: #8bafbf;
  color: #1c2531;
}

.container1 {
  align-items: center;
  border: 0.5px solid black;
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  grid-gap: 2em;
  padding: 5px;
  width: 70vw;
}

.img1 {
  height: auto;
  width: 150px;
}

@media (min-width: 320px) {
  .btnsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .btn {
    width: fit-content;
  }
  .btnPlus {
    width: fit-content;
  }
}

@media (min-width: 480px) {
  .btnsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .btn {
    width: fit-content;
  }
  .btnPlus {
    width: fit-content;
  }
}

@media (min-width: 768px) {
  .btnsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 1024px) {
  .btnsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 1155px) {
  .btnsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}
