.reservasAdmin {
  width: 100%;
  height: 100vh;
  background-color: #94adbc;
}

.container1 {
  position: absolute;
  justify-items: center;
  justify-content: center;
  min-width: 100%;
}

.btnsContainer {
  width: 100%;
  margin-top: 125px;
  padding-top: 10px;
}
 
.btnSup {
  margin-left: auto;
  margin-right: auto;
  padding: 4px 5%;
  background: #293c4f;
  color: #fff;
  border: none;
  border: 1px solid #293c4f;
  border-radius: 5px;
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  transition-duration: 0.4s;
}
.btnSup:hover {
  background: none;
  border: 1px solid #293c4f;
  color: #000;
}
.container2{
  display: flex;
  justify-items: center;
  justify-content: center;
}
.formsCont{
  display: flex;
  justify-items: center;
  justify-content: center;
}
.editarCont{
  background-color: #293c4f;
  color: #fff;
  margin-top: 10px;
  padding: 10px 10px;
  border-radius: 10px;
  width: fit-content;
}
.formsCont .editarCont form .datePicker{
  display: flex;
}
#checkin{
  margin-right: -59%;
}
#checkout{
  margin-left: -59%;
}

#guardar{
  border-radius: 4px;
    background-color: #355978 ;
    border-color: transparent;
    color: #fff;
    /* text-align: center; */
    font-size: large;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;;
  margin-right: 2%;
  margin-left: 0%;
  background-color: #355978 ;
}
#guardar:hover{
  background-color: #8bafbf ;
  color: #1c2531 ;
  border-color: solid #8bafbf;
}
#cancelar{
  border-radius: 4px;
    border-color: transparent;
    color: #fff;
    /* text-align: center; */
    font-size: large;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  margin-left: 0;
  background:#7f7979;
}
#cancelar:hover{
  background-color: #b9b9b9;
  border-color: solid #b9b9b9;
  color:black;
}
.detalles{
  min-width: 30%;
}
.containerReservas{
  margin-top: 10px;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 30%));
  justify-content: center;
  grid-gap: 3%;
  align-items: center;
}
/*

.btn {
  padding: 4px 7px;
  background: #293c4f;
  color: #fff;
  border: none;
  border: 1px solid #293c4f;
  border-radius: 5px;
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  transition-duration: 0.4s;
}
.btn:hover {
  background: none;
  border: 1px solid #293c4f;
  color: #000;
}

.form {
  width: fit-content;
}

.formsCont {
  display: flex;
  align-items: start;
  justify-content: space-around;
  height: 100%;
}

.crearCont {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 33%;
  height: max-content;
  padding: 3px;
}

.editarCont {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 3px;
  margin-left: 70px;
}

.title {
  margin-bottom: 6px;
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
}

.formInputs {
  margin-bottom: 8px;
  padding: 3px;
  border: solid 1.5px #293c4f;
  width: 200px;
  display: flex;
  align-items: start;
}

.containerReservas{
  display: flex;
  -webkit-box-pack: center;
  place-content: center;
  align-content: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 80px;*/
  /* padding: 80px; */
  /*background-color: white;
  margin-top: -100px
}
.detalles {
  margin-left: 120px;
  background: #293c4f;
  color: #fff;
  border-radius: 7px;
  padding: 10px 25px;
  margin-bottom: 10px;
  width: 400px;
}

@media (max-width: 700px) {
  .formsCont {
    flex-direction: column;
  }
} */
