.nombre {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: url("../../img/cabaña_nieveBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

.nombre1 {
  padding: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  background-color: #323031;
  color: #fff;
  border-radius: 15px;
  box-shadow: 6px 7px 5px 0px rgba(0, 0, 0, 0.5);
}
