.container{
    display: flex;
    flex-direction: column;
    width: 75%;
    border: black solid 1px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
   
}

.arrayStar{
    display: flex;
    font-size: 40px;
} 

.paint{
    color:#ffd700;
}

