.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #94adbc;
}

.title {
  margin-top: 75px;
  margin-bottom: 25px;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: bold;
}

.containerInfo {
  background: #293c4f;
  width: 500px;
  color: #fff;
  padding: 15px 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  width:50%;
}

.izquierda{
  float:left;
}
.derecha{
  float:right;
  text-align: end;
}

.li {
  list-style: none;
  display: flex;
  align-items: start;
  flex-direction: column;
}

#btnPlus {
  border-radius: 4px;
  background-color: #355978;
  border-color: transparent;
  color: #fff;
  text-align: center;
  font-size: large;
  transition: all 0.5s ease;
  cursor: pointer;
  padding: 5px 20px;
  /* margin-top: 85px; */
  display: inline-flex;
  height: auto;
  /* line-height: 35px; */
}
#btnPlus:hover {
  background-color: #8bafbf;
  color: #1c2531;
  border-color: #8bafbf;
}
