.container {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.navs2 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.navs {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
}

.bienvenida {
  margin-top: 140px;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  -webkit-box-pack: center;
  place-content: center;
  align-content: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px;
  padding: 20px;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.info {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.cardsContainer {
  border: none;
  background: #355978;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.cardsContainer:hover {
  filter: opacity(0.5);
}

.link{
    text-decoration: none;
    color: #fff;
}

.cards {
  column-gap: 20px;
}

.img {
  width: 200px;
  height: 150px;
}
