@media  (max-width: 500px)  {
    .comprobante, .neto, .fecha{
        display:none;        
    }
      .detalle{        
        display:grid !important;
        grid-template-columns: 1fr 1fr !important;
        align-items: center !important;
        justify-content:space-between !important;
        
    } 
    .total{
        align-items: center !important;
        justify-content: center !important;
    }    
}

@media  (max-width: 767px)  {
    .comprobante, .neto{
        display:none;        
    }  
    .detalle{        
        display:grid !important;
        grid-template-columns: 1fr 1fr 1fr !important;
        align-items: center !important;
        justify-content:space-between !important;        
    }  
    .total{
        margin-right: 15%;
    }    
}




.general{
    background-color: #355978;
    min-height: 100vh;    
}
.moveme{
    width: 100%;
    padding:20px;
    height:70px;
}

.filtro{
    display:flex;
    justify-content:center;
    color:#fff;
    padding:20px;
    align-items: center;
}
.titulo{
    
    padding-top: 15px;;
}
.container{       
    border: 1px solid #fff;
    border-radius: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;   
    justify-content:space-between;
    background: #293c4f;
    color:#fff;    
    padding:20px;     
    width:100%;   
}

.detalle{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color:#fff;
    margin-top:25px;
    align-items:center;
}
.linea{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.nombre{
    display:flex;
    justify-content: center;
    
}
.nombre p{
    margin-right:5px;
}
.total{
    display:flex;
    color:#fff;
    justify-content:flex-end;
    margin-right: 7%;   
}
hr{
    background-color: #fff;
    border: 1px solid #fff;
}

.componente{
    display:flex;
    justify-content: center;
    position:absolute;    
    height:100vh;

}
.comprobante{
    align-items: center;
    padding-bottom: 15px;

}
.formInput{
    padding: 7px 0px;
    text-align: center;
    height: 42px;
    width: 60%;
    font-size: 1em;
    background-color: #355978 ;
    color: #fff;
    border: solid #355978;
    border-radius: 8px;
    transition: all 0.25s ease;
    margin-top: 8px;
    margin-left: 43px;
  }
.formInput:hover{
    background-color: #8bafbf ;
    color:  #1c2531;
    border-color: #8bafbf;
}
@media (min-width: 320px) {
    .navs{
      display: none;
    }
    
  }
  
  
 @media (min-width: 768px) {
    .navs{
      display: block;
      position: relative;
    }
    .navRsp{
      display:none;
    }
  }