
.container {
  background: #1e2d3b;
  color: #fff;
  margin-bottom: 0px;
  /* margin-top: 5px; */
}

.arriba {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;

}

.contacto,
.links,
.redes,
.newsletter {
  margin-right: 30px;
  text-align: start;
}

.derechos {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.hr {
  width: 100%;
}

.title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-decoration: underline;
}

.link {
  text-decoration: none;
  color: #fff;
  transition-duration: 0.4s;
}

.link:hover {
    color: #000;
}

.redesIconos {
  color: #fff;
  margin-right: 7px;
  font-size: 23px;
  transition-duration: 0.4s;
}

.redesIconos:hover{
    color: #000;
}

#input{
    border-radius:10px;
    padding:3px 5px;
    border: none;
    background: #f8f8f8;
    margin-left: -1px;
    transition: 0.4s;
}
#input:hover{
  color:#fff;
  background: #323031;
}
#input:focus{
  color:#fff;
  background: #323031;
}

.btn{
    border-radius:10px;
    padding: 8px 15px;
    margin-top:5px;
    background: #f8f8f8;
    border: transparent;
    color: #000;
    transition-duration: 0.4s;

}

.btn:hover{
    color:#fff;
    background: #323031;
    /* border: 1px solid #fff; */
}

