.container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:25px;
}

.input{
    width: 89%;
    border: solid 1px black;
    border-radius: 5px;
    padding:.6em .6em;
}

.button{
    height:fit-content;
    margin-left:.3em;
    padding:.3em .3em;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: #293c4f;
    border: solid 1px #293c4f;
    color: #fff;
    transition-duration: 0.4s;
}

.button:hover{
    background: transparent;
    color:#000;
    border: 1px solid #000;
}

