
.slider{
  background-color: #323031;
  margin-top: 0;
  padding-top: 20px;
}
.img {
  height: 50%;
  max-height: 450px;
}



.test{
  outline: 1px solid red;
}

.h3{
  display:block;
  width: 20%;
  text-decoration:none;
  color:white;
  background-color:#355978;
  border-radius:5px;
  padding:.5em;
}

.consulta{
  display:block;
  width: 30%;
  text-decoration:none;
  color:white;
  background-color:#355978;
  border-radius:5px;
  padding:.5em;
}

.newsletter{
  display:block;
  width: 40%;
  text-decoration:none;
  color:white;
  background-color:#355978;
  border-radius:5px;
  padding:.5em;
}

.chatea{
  display:block;
  width: 30%;
  text-decoration:none;
  color:white;
  background-color:#355978;
  border-radius:5px;
  padding:.5em;
}

.wrapper{
  display:flex;
  justify-content: center;
}


.link{
  text-decoration:none;
}

