.container {
  position: fixed;
  z-index: 2;
}

.li {
  list-style: none;
  font-size: 60px;
  color: #fff;
  background: transparent;
  border: none;
}
.Chatbot div div div form input{
  background-color: rgba(110, 72, 170, 0.527);
}
.items {
  background: rgb(110, 72, 170);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  transition-duration: 0.4s;
}

.items:hover {
  filter: opacity(0.5);
}

/* .ocultar {
  margin-left: auto;
  margin-right: auto;
  padding: 4px 7px;
  background: #293c4f;
  color: #fff;
  border: none;
  border: 1px solid #293c4f;
  border-radius: 5px;
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  transition-duration: 0.4s;
}
.ocultar:hover {
  background: none;
  border: 1px solid #293c4f;
  color: #000;
} */
