.registro {
  width: 100%;
  min-height: 100vh;
  background-color: #355978;
  
}

.registro .container{
  display: flex;
    justify-items: center;
    justify-content: center;
}

.registro .container .containerForm{
  margin-top: 100px;
  position: relative;
  /* float:right;
  position: relative;
  right: 50%; */
  width: 70%;
  height: fit-content;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  background-color: #293c4f;
  flex-wrap: wrap;
  place-content: center;
  overflow: auto;
}

.registro .container .containerForm .title{
  font-size: x-large;
  margin-top: 5px;
  margin-bottom: 10px;
}

.registro .container .containerForm form {
  display: flex;
  flex-direction: column;
  width: 80%
}
.registro .container .containerForm form input {
  padding: 7px 0px;
  text-align: center;
  height: 42px;
  /* width: 100%; */
  font-size: 1em;
  background-color: #355978 ;
  color: #fff;
  border: solid #355978;
  border-radius: 8px;
  transition: all 0.25s ease;
  margin: 10px 5px 10px 5px;
}
.registro .container .containerForm form input:hover{
  background-color: #8bafbf ;
  color:  #1c2531;
  border-color: #8bafbf;
}
.registro .container .containerForm form .btn{
  border-radius: 4px;
    background-color: #355978 ;
    border-color: transparent;
    color: #fff;
    text-align: center;
    font-size: large;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-flex;
    height: auto;
    line-height: 35px;
    margin: 20px 5px 20px 5px;
}
.registro .container .containerForm form .btn:hover {
  background-color: #8bafbf ;
  color: #1c2531 ;
  border-color: #8bafbf;
}
.registro .container .containerForm form .btn .icon{
  margin-top: -4px;
}

.registro .container .containerForm div button{
  border-radius: 4px;
    background-color: #355978 ;
    border-color: transparent;
    color: #fff;
    text-align: center;
    font-size: large;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-flex;
    height: auto;
    line-height: 35px;
    margin: 20px 5px 20px 5px;
}
.registro .container .containerForm div button:hover{
  background-color: #8bafbf ;
  color: #1c2531 ;
  border-color: #8bafbf;
}
.registro .container .containerForm div .title .icon{
  margin-top: -4px;
}
.registro .container .containerForm div .btn1 .icon{
  margin-top: -4px;
}
#creada{
  width: 70%;
}