.reserva {
    position: fixed;
    overflow: auto;
    background-color: #323031;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 25%;
    list-style-type: none;
  }
  
  .reserva li {
    display: block;
    text-align: center;
    padding: 0px 10px 10px;
    text-decoration: none;
    color: #fff;
  }

  .reserva div button{
    height: 43px;
    border: transparent;
    background-color: transparent;
    font-size: medium;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    transition: all 0.2s ease;
  }

  .reserva select{
    padding: 7px 0px;
    text-align: center;
    height: 42px;
    width: 100%;
    font-size: 1em;
    background-color: #7f7979;
    color: #fff;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    transition: all 0.25s ease;
  }
  .reserva select:hover{
    background-color: #ddd6d6;
    color: rgb(102, 102, 102);
    border-color: rgb(102, 102, 102);
  }
  
  .navbar div button:hover{
    background-color: #323031;
  }

  .fechas{
    padding: 7px 0px;
    text-align: center;
    height: 42px;
    width: 100%;
    font-size: 1em;
    background-color: #7f7979;
    color: #fff;
    border:2px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    transition: all 0.25s ease;
  }
  .fechas:hover{
    background-color: #ddd6d6;
    color: rgb(102, 102, 102);
    border-color: rgb(102, 102, 102);
  }

  .reload {
    border-radius: 4px;
    background-color: #7f7979;
    border-color: transparent;
    color: #fff;
    text-align: center;
    font-size: large;
    transition: all 0.2s ease;
    cursor: pointer;
    margin-top: 85px;
    padding: 5px 20px;
  }
  .reload span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease;
  }
  .reload span:after {
    opacity: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .reload:hover {
    background-color: #fff;
    color: #7f7979;
    border-color: #fff;
  }
  
  .reload:hover span:after {
    opacity: 1;
    right: 0;
  }
  
.service{
  background-color: #7f7979;
  height: 25px;
}
.serviceCont li{
  margin: 10px;
}