.reserva {
    position: fixed;
    overflow: auto;
    background-color: #293c4f ;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 25%;
    list-style-type: none;
    font-size: large;
  }
  .reserva::-webkit-scrollbar {
    width: 12px;
    background-color: #eff1f5;
  }
  
  .reserva::-webkit-scrollbar-track{
    border-radius: 3px;
    background-color: transparent;
  }
  
  .reserva::-webkit-scrollbar-thumb{
    border-radius:5px;
    background-color:#515769;
    border:2px solid #eff1f5
  }
  
  .reserva li {
    display: block;
    text-align: center;
    padding: 0px 10px 10px;
    text-decoration: none;
    color: #fff;
  }

  .reserva div button{
    height: 43px;
    border: transparent;
    background-color: transparent;
    font-size: medium;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    transition: all 0.2s ease;
  }

  .reserva select{
    padding: 7px 0px;
    text-align: center;
    height: 42px;
    width: 100%;
    font-size: 1em;
    background-color: #355978 ;
    color: #fff;
    border: transparent;
    border-radius: 8px;
    transition: all 0.25s ease;
  }
  .reserva select:hover{
    background-color: #8bafbf ;
    color: #1c2531;
  }
  .reserva select .prices{
    width: 50% !important;
  }
  #priceRange{
    display: flex;
    justify-content: space-between;
  }
.reserva li label{
  display: inline-flex;
}
.reserva li label p{
  line-height: 22px;
  padding-right: 5px;
}
  
  
  .navbar div button:hover{
    background-color: #8bafbf ;
  }

  .fechas{
    padding: 7px 0px;
    text-align: center;
    height: 42px;
    width: 100%;
    font-size: 1em;
    background-color: #355978 ;
    color: #fff;
    border: solid #355978;
    border-radius: 8px;
    transition: all 0.25s ease;
  }
  .fechas:hover{
    background-color: #8bafbf ;
    color:  #1c2531;
    border-color: #8bafbf;
  }

  .reload {
    border-radius: 4px;
    background-color: #355978 ;
    border-color: transparent;
    color: #fff;
    text-align: center;
    font-size: large;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 5px 20px;
    margin-top: 85px;
    display: inline-flex;
    height: auto;
    line-height: 35px;
  }
  .reload p {
    cursor: pointer;
    display: inline-block;
    position: relative;
    line-height: 25px;
    padding-left: 5px;
  }
  .reload span:after {
    opacity: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .reload:hover {
    background-color: #8bafbf ;
    color: #1c2531 ;
    border-color: #8bafbf;
  }
  
  .reload:hover span:after {
    opacity: 1;
    right: 0;
  }

.serviceTitle{
  margin-left:0;
  margin-bottom: 10px;
}
.serviceCont{
  margin: 0;
}
.serviceCont li{
  margin: 0px;
}

.services{
  padding-left: 5px;
}

#search{
  width: 100%;
  justify-content: center;
  margin-top: 0;
}
#search span{
  display: inline-block;
  position: relative;
  transition: 0.5s;
  align-items: center;
}
#search span:after{
  content: '\00bb';
  transition: 0.5s;
}
#search:hover span{
  padding-left: 10px;
}

.cabinPage{
  width: 75%;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: #94adbc  ;
  margin-left: 25%;
}
.cabinPage::-webkit-scrollbar {
  width: 12px;
  background-color: #eff1f5;
}

.cabinPage::-webkit-scrollbar-track{
  border-radius: 3px;
  background-color: transparent;
}

.cabinPage::-webkit-scrollbar-thumb{
  border-radius:5px;
  background-color:#515769;
  border:2px solid #eff1f5
}

.cabinCont{
  position: relative;
  margin: 10% 5% 10% 5%  
}

.paginado{
  position: absolute;
  margin-left: 45%;
}