.navbar {
    position: fixed;
    overflow: hidden;
    background-color: #7f7979;
    width: 100%;
    margin-top: 0;
  }
  
  .navbar li {
    float: left;
    display: inline;
    text-align: center;
    padding: 0px 10px 10px;
    text-decoration: none;
  }

  .navbar button{
    height: 43px;
    border: transparent;
    background-color: transparent;
    font-size: medium;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    color: #fff;
    transition: all 0.2s ease;
  }
  .navbar button:hover{
    background-color: #323031;
  }