.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #94adbc;
}

.container2 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 50%;
  height: 100%;
  min-height: 100vh;
}

.navs2 {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}

.navs {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
}

.btnsContainer {
  width: 100%;
  margin-top: 145px;
  margin-bottom: 15px;
  display: flex;
  align-items: start;
  /* margin-left: 290px; */
  padding-top: 10px;
}

.btnVolver {
  margin-left: 40px;
  padding: 4px 7px;
  background: #293c4f;
  color: #fff;
  border: none;
  border: 1px solid #293c4f;
  border-radius: 5px;
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  transition-duration: 0.4s;
}
.btnVolver:hover {
  background: none;
  border: 1px solid #293c4f;
  color: #000;
}

.btnSup {
  margin-left: auto;
  margin-right: auto;
  padding: 4px 7px;
  background: #293c4f;
  color: #fff;
  border: none;
  border: 1px solid #293c4f;
  border-radius: 5px;
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  transition-duration: 0.4s;
}
.btnSup:hover {
  background: none;
  border: 1px solid #293c4f;
  color: #000;
}

.btn {
  padding: 4px 7px;
  background: #293c4f;
  color: #fff;
  border: none;
  border: 1px solid #293c4f;
  border-radius: 5px;
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  transition-duration: 0.4s;
}
.btn:hover {
  background: none;
  border: 1px solid #293c4f;
  color: #000;
}

.form {
  width: fit-content;
}

.formsCont {
  display: flex;
  align-items: start;
  justify-content: space-around;
  height: 100%;
}

.crearCont {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 33%;
  height: max-content;
  padding: 3px;
}

.editarCont {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 3px;
  margin-left: 70px;
}

.title {
  margin-bottom: 6px;
  font-family: Lato, Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
}

.formInputs {
  margin-bottom: 8px;
  padding: 3px;
  border: solid 1.5px #293c4f;
  width: 200px;
  display: flex;
  align-items: start;
}

.detalles {
  margin-left: 120px;
  background: #293c4f;
  color: #fff;
  border-radius: 7px;
  padding: 10px 25px;
  margin-bottom: 10px;
  width: 400px;
  white-space: nowrap;
}

@media (max-width: 700px) {
  .formsCont {
    flex-direction: column;
  }
}
