.adminCabañas {
  width: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #94adbc;
}
.btns {
  display: flex;
  justify-items: center;
  justify-content: center;
}
.btnsContainer {
  margin-top: 130px;
  position: relative;
}
.btnSup {
  padding: 4px 60px;
  background: #293c4f;
  color: #fff;
  border: none;
  border: 1px solid #293c4f;
  border-radius: 5px;
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  transition-duration: 0.4s;
}
.btnSup:hover {
  background: none;
  border: 1px solid #293c4f;
  color: #000;
}
.container {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 10px;
  width:100%;
}
.crearCont {
  display: flex;
  justify-content: start;
  justify-items: start;
  align-items: center;
  position: relative;
  height: fit-content;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-align: center;
  background-color: #293c4f;
  flex-wrap: wrap;
  place-content: center;
  overflow: auto;
  width: 30%;
  margin: 0 10px 30px 0px;
  min-width: 30%;
}
.crearCont .title {
  font-size: x-large;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  width: 80%;
}

.inputForm {
  padding: 7px 0px;
  text-align: center;
  height: 42px;
  width: 100%;
  font-size: 1em;
  background-color: #355978;
  color: #fff;
  border: solid #355978;
  border-radius: 8px;
  transition: all 0.25s ease;
  margin-top: 8px;
}
.inputForm:hover {
  background-color: #8bafbf;
  color: #1c2531;
  border-color: #8bafbf;
}

.form input {
  margin-left: -0.4%;
}

.textarea {
  padding: 7px 0px;
  text-align: center;
  height: 42px;
  margin-bottom: 0.625rem;
  width: 100%;
  font-size: 1em;
  background-color: #355978;
  color: #fff;
  border: solid #355978;
  border-radius: 8px;
  transition: all 0.25s ease;
  margin-top: 8px;
  height: 100px;
  text-align: justify;
}

.textarea:hover {
  background-color: #8bafbf;
  color: #1c2531;
  border-color: #8bafbf;
}
.textarea::-webkit-scrollbar {
  width: 12px;
  background-color: #8f8f8f;
  border-radius: 5px;
}

.textarea::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

.textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #515769;
  border: 1px solid #eff1f5;
}
.crearCont form select {
  padding: 7px 0px;
  text-align: center;
  height: 42px;
  width: 100%;
  font-size: 1em;
  background-color: #355978;
  color: #fff;
  border: solid #355978;
  border-radius: 8px;
  transition: all 0.25s ease;
  margin-top: 8px;
  margin-bottom: 8px;
}
.crearCont form select:hover {
  background-color: #8bafbf;
  color: #1c2531;
  border-color: #8bafbf;
}
.btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 4px 5%;
  background: #355978;
  color: #fff;
  border: none;
  border: 1px solid #293c4f;
  border-radius: 5px;
  font-family: Lato, Arial, sans-serif;
  font-weight: bold;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #8bafbf;
  color: #1c2531;
  border-color: #8bafbf;
}

.btnsGuarCanc {
  display: flex;
  justify-items: center;
  justify-content: center;
}
.btnsGuarCanc button {
  border-radius: 4px;
  background-color: #355978;
  border-color: transparent;
  color: #fff;
  font-size: large;
  transition: all 0.5s ease;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#guardar {
  min-width: 65%;
  margin-right: 2%;
  margin-left: 0%;
  background-color: #355978;
}
#guardar:hover {
  background-color: #8bafbf;
  color: #1c2531;
  border-color: solid #8bafbf;
}
#cancelar {
  min-width: 50%;
  margin-left: 0;
  background: #7f7979;
}
#cancelar:hover {
  background-color: #b9b9b9;
  border-color: solid #b9b9b9;
  color: black;
}

.detalles {
  width: 100%;
}
/* #id1 {
  margin-left: 4px;
}
#id2 {
  margin-left: 4px;
}
#id3 {
  margin-left: 4px;
} */
#lastSelect {
  margin-bottom: 20px;
}
#descripcionEditar {
  min-height: 100px;
}
.containerContainerCabañas {
  display: flex;
  position: relative;
  width:100%;
  height: 100%;
  background-color: black;
}
.containerCabañas {
  width:98%;
  margin-left:1%;
  display: grid;
  background-color: #94adbc;
  grid-template-columns: 32% 32% 32%;
  justify-content: space-between;
  /* justify-items: center; */
  align-items: center;
  /* grid-gap: 3%; */
}

 @media (min-width: 320px) {
  .navs {
    display: none;
  }
  .container {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
  .btns {
    margin-top: -50px;
  }
  .crearCont {
    margin-top: 20px;
    width: 100%;
  }
  .containerCabañas {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  .containerCabañas {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: 0.5%;
    width:100%;
  }
  .textarea,
  .inputEditar,
  .descripcion{
    width: 100%;
  }
  .inputEditar{
    margin-left: 0%;
    width: 100%;
  }
  #id1,
  #id2,
  #id3,
  #descripcionEditar{
    min-width:100%;
  }
  .btnsGuarCanc{
    width:68%;
  }
  
}


@media (min-width: 480px) {
  #containerContainerCabañas {
    width:100%;
  }
  .containerCabañas{
    width:100%;
  }
  .textarea,
  .inputEditar,
  .descripcion{
    width: 100%;
  }
  .inputEditar{
    margin-left: 0%;
    width: 100%;
  }
  #id1,
  #id2,
  #id3,
  #descripcionEditar{
    min-width:100%;
  }
}

@media (min-width: 768px) {
  .btns {
    margin-top: 30px;
  }
  .navs {
    display: block;
    position: relative;
  }
  .navRsp {
    display: none;
  }
  .form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width:600px;
  }
  
  #formEditar{
    width: 80%;
    max-width:600px;
  }
  .crearCont{
    min-width: 600px;
    max-width:40%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
   
  .textarea,
  .inputEditar,
  .descripcion{
    width: 100%;
  }
  .inputEditar{
    margin-left: 0%;
    width: 100%;
  }
  #id1,
  #id2,
  #id3,
  #descripcionEditar{
    min-width:100%;
  }
  #containerContainerCabañas {
    width:100%;
  }
  .containerCabañas{
    width:77%;
    margin-left: 11.5%;
  }
}


@media (min-width: 1024px) {
  .container1 {
    top: 0px;
  }
  .navs {
    display: block;
    position: relative;
  }
  .navRsp {
    display: none;
  }
  #containerContainerCabañas {
    width:100%;
  }
  .containerCabañas {
    display: grid;
    background-color: #94adbc;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-left:0%;
  }
  
}


@media (min-width: 1155px) {
  .container1 {
    top: 0px;
  }
  .navs {
    display: block;
    position: relative;
  }
  .navRsp {
    display: none;
  }
  .container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width:100%;
  }
  .crearCont{
    margin:0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
}

@media (min-width: 1355px) {
  
  .container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width:100%;
  }
  .crearCont{
    width:50%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .containerContainerCabañas {
    display: flex;
    position: relative;
    width:100%;
    height: 100%;
    background-color: black;
  }
  .containerCabañas {
    width:98%;
    margin-left:1%;
    display: grid;
    background-color: #94adbc;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-content: space-between;
    align-items: start;
  }
} 
